.venv
.env

__pycache__/
.pytest_cache
.DS_Store
server/public
vite.config.ts.*
*.tar.gz
._*
__pycache__
reports/
__init__.py
.vscode

/node_modules
api-collection.json

# Local Allure 관련 데이터 및 리포트 폴더 제외
allure-results/
allure-report/